{
  "parser": "babel-eslint",

  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
  },

  "ecmaFeatures": {
    "modules": true,
  },

  "globals": {
    "process.env": true,
    "React": true,
    "ReactDOM": true
  },

  "plugins": [
    "smells",
    "react"
  ],

  "extends": [
    "standard",
    "eslint:recommended",
    "plugin:react/recommended"
  ],

  "rules": {
    "key-spacing": 0,
    "no-trailing-spaces": 0,
    "no-multiple-empty-lines": [2, {"max": 2}],
    "padded-blocks": 0,
    "semi": [2, "always"],
    "arrow-parens": 0,

    "smells/no-switch": 0,
    "smells/no-complex-switch-case": 1,
    "smells/no-setinterval": 1,
    "smells/no-this-assign": 1,
    "smells/no-complex-string-concat": 1,
    "smells/no-complex-chaining": 0
  }
}
